<form (ngSubmit)="save()" [formGroup]="form">
  <div class="flex items-center" mat-dialog-title>
    <h2 class="title m-0" *ngIf="isView != 'view'">
      {{ isCreateMode ? "Create" : "Update" }} Room Type
    </h2>
    <h2 class="title m-0" *ngIf="isView == 'view'">View Room Type</h2>
    <!-- <button [matMenuTriggerFor]="settingsMenu" class="text-secondary" mat-icon-button type="button">
      <mat-icon svgIcon="mat:more_vert"></mat-icon>
    </button> -->
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content class="flex flex-col">
    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="mt-6 flex-auto">
        <mat-label>Room Type Name</mat-label>
        <input
          [ngClass]="isView == 'view' ? 'ban' : ''"
          [readonly]="isView == 'view'"
          formControlName="typeName"
          matInput
        />
        <mat-error *ngIf="submitted && f.typeName.hasError('required')"
          >Type Name is required</mat-error
        >
      </mat-form-field>

      <mat-form-field class="sm:mt-6 sm:ml-6 flex-auto">
        <mat-label>Price</mat-label>
        <input
          [ngClass]="isView == 'view' ? 'ban' : ''"
          [readonly]="isView == 'view'"
          formControlName="price"
          matInput
        />
        <mat-error *ngIf="submitted && f.price.hasError('required')"
          >Price is required</mat-error
        >
        <mat-error *ngIf="submitted && f.price.hasError('pattern')"
          >Price only has number</mat-error
        >
      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="mt-6 flex-auto">
        <mat-label>Area</mat-label>
        <input
          [ngClass]="isView == 'view' ? 'ban' : ''"
          [readonly]="isView == 'view'"
          formControlName="area"
          matInput
        />
        <mat-error *ngIf="submitted && f.area.hasError('required')"
          >Area is required</mat-error
        >
      </mat-form-field>

      <mat-form-field class="sm:mt-6 sm:ml-6 flex-auto">
        <mat-label>Size</mat-label>
        <input
          [ngClass]="isView == 'view' ? 'ban' : ''"
          [readonly]="isView == 'view'"
          formControlName="size"
          matInput
        />
        <mat-error *ngIf="submitted && f.size.hasError('required')"
          >Size is required</mat-error
        >
      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="mt-6 flex-auto">
        <mat-label>Layout</mat-label>
        <input
          [ngClass]="isView == 'view' ? 'ban' : ''"
          [readonly]="isView == 'view'"
          formControlName="layout"
          matInput
        />
        <mat-error *ngIf="submitted && f.layout.hasError('required')"
          >Layout is required</mat-error
        >
      </mat-form-field>

      <mat-form-field class="sm:mt-6 sm:ml-6 flex-auto">
        <mat-label>Extra Service</mat-label>
        <input
          [ngClass]="isView == 'view' ? 'ban' : ''"
          [readonly]="isView == 'view'"
          formControlName="extraService"
          matInput
        />
        <mat-error *ngIf="submitted && f.extraService.hasError('required')"
          >Extra Service is required</mat-error
        >
      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="mt-6 flex-auto">
        <mat-label>Short Description</mat-label>
        <textarea
          [ngClass]="isView == 'view' ? 'ban' : ''"
          [readonly]="isView == 'view'"
          formControlName="shortDescription"
          matInput
        ></textarea>
      </mat-form-field>
    </div>

    <mat-label>Description</mat-label>
    <div class="flex flex-col sm:flex-row">

      <quill-editor [ngClass]="isView == 'view' ? 'ban' : ''"
      [readOnly] ="isView == 'view'" [styles]="{flex: '1 1 auto'}" formControlName="description" ></quill-editor>
      <mat-error *ngIf="submitted && f.description.hasError('required')">Description is required</mat-error>
    </div>

    <div class="flex flex-col sm:flex-row" style="max-width: 600px; margin-top:30px">
      <div class="mt-3 flex-auto">
        <input
          *ngIf="isView != 'view'"
          type="file"
          multiple
          class="file-upload"
          (change)="uploadFile($event.target)"
        />
        <div
          formArrayName="imgCodeList"
          class="mt-3"
          style="display: flex; gap: 10px; flex-wrap: wrap"
        >
          <div
            style="position: relative"
            *ngFor="let item of imgResponseList.value; let idx = index"
          >
            <img
              *ngIf="item"
              src="data:image/jpeg;base64,{{ item.imgEncodeString }}"
              alt=""
              width="190px"
              height="190px"
            />
            <button
              style="
                position: absolute;
                top: 3px;
                right: 5px;
                color: black;
                z-index: 1000;
                cursor: pointer;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                border: 1px solid black;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;
              "
              *ngIf="isView != 'view'"
              (click)="deleteImg(idx)"
              ><mat-icon svgIcon="mat:delete"></mat-icon></button
            >
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Cancel</button>
    <button
      [ngClass]="uploadState == true ? '' : 'submit'"
      *ngIf="isCreateMode() && isView != 'view'"
      color="primary"
      mat-flat-button
      type="submit"
    >
      Create Room Type
    </button>
    <button
      *ngIf="isUpdateMode() && isView != 'view'"
      color="primary"
      mat-flat-button
      type="submit"
    >
      Update Room Type
    </button>
  </mat-dialog-actions>
</form>

<!-- <mat-menu #settingsMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item>
    <mat-icon svgIcon="mat:print"></mat-icon>
    <span>Print</span>
  </button>

  <button mat-menu-item>
    <mat-icon svgIcon="mat:download"></mat-icon>
    <span>Export</span>
  </button>

  <button mat-menu-item>
    <mat-icon svgIcon="mat:delete"></mat-icon>
    <span>Delete</span>
  </button>
</mat-menu> -->
