<body>
  <div class="container mx-auto">
    <h2 class="login-title" style="color: #01b7f2; font-size: 25px;">Log in</h2>

    <form class="login-form" [formGroup]="formValidation" method="POST">
      <div>
        <label for="username">Username </label>
        <input
          id="username"
          type="text"
          placeholder="Username"
          name="username"
          formControlName="username"
          [ngClass]="
            username.invalid && (username.dirty || username.touched)
              ? 'error'
              : ''
          "
          required
        />
        <ng-container
          *ngIf="username.invalid && (username.dirty || username.touched)"
          class="d-flex flex-column"
        >
          <ng-container *ngIf="username.errors?.['required']">
            <div class="mt-2" style="color: red; margin-bottom: -10px">
              Username is required
            </div>
          </ng-container>
        </ng-container>
      </div>

      <div class="mt-2">
        <label for="password">Password </label>
        <input
          id="password"
          type="password"
          formControlName="password"
          placeholder="Password"
          name="password"
          [ngClass]="
            password.invalid && (password.dirty || password.touched)
              ? 'error'
              : ''
          "
          required
        />
        <ng-container
          *ngIf="password.invalid && (password.dirty || password.touched)"
        >
          <ng-container *ngIf="password.errors?.['required']">
            <div class="mt-2" style="color: red; margin-bottom: -10px">
              Password is required
            </div>
          </ng-container>
        </ng-container>
      </div>

      <button
        class="btn btn--form mt-2"
        type="submit"
        value="Log In"
        [disabled]="!formValidation.valid"
        [ngClass]="!formValidation.valid ? 'disabled' : ''"
        (click)="login()"
      >
        Log In
      </button>

      <div class="flex justify-center mt-3">
        <span style="font-size: 16px"
          >Don't have an account?
          <a href="register" style="color: #01b7f2; cursor: pointer"
            >Sign Up</a
          ></span
        >
      </div>
    </form>
  </div>
</body>
