<section class="section-padding bg-light-white our_articles">
  <div class="container">
    <div class="row">
      <!-- article -->
      <article
        class="col-lg-4 col-md-6 post mb-xl-30"
        *ngFor="
          let item of blogList | paginate : { itemsPerPage: 6, currentPage: 1 }
        "
      >
        <div class="post-wrapper bx-wrapper">
          <div class="post-img animate-img">
            <a routerLink="/blog-details/{{ item.id }}">
              <img
                [src]="!item.imgResponse.imgEncodeString ? 'assets/images/hotels/2.jpg' : 'data:image/jpeg;base64,' + item.imgResponse.imgEncodeString | safeHtml"
                class="full-width"
                alt="assets/images/hotels/1.jpg"
              />
            </a>
            <div
              class="post-date"
              [innerHtml]="item.createdTime | date : 'MM-dd-yyyy'"
            ></div>
          </div>
          <div class="blog-meta padding-20 bg-custom-white p-relative">
            <div class="post-meta mb-xl-20">
              <a
                routerLink="/blog-details/{{ item.id }}"
                class="text-light-dark mr-1"
              >
                <span class="text-custom-blue">
                  <i class="fas fa-comment"></i>
                </span>
                10 Comments
              </a>
              <a
                routerLink="/blog-details/{{ item.id }}"
                class="text-light-dark mr-1"
              >
                <span class="text-custom-blue">
                  <i class="fas fa-thumbs-up"></i>
                </span>
                10 Likes
              </a>
            </div>
            <div class="post-heading">
              <h2>
                <a
                  routerLink="/blog-details/{{ item.id }}"
                  class="text-custom-black fw-600 fs-20"
                  >{{ item.title }}</a
                >
              </h2>
              <p class="text-light-dark no-margin">
                {{
                  item.shortDescription.length > 5
                    ? (item.shortDescription | slice : 0 : 5) + "..."
                    : item.shortDescription
                }}
              </p>
            </div>
          </div>
          <div class="post-footer">
            <cite class="text-custom-black">Post By {{ item.author }}</cite>
            <a
              routerLink="/blog-details/{{ item.id }}"
              class="text-custom-blue fs-14 fs-600"
              >Read More</a
            >
          </div>
        </div>
      </article>
      <!-- article -->
    </div>
    <div class="row">
      <div class="col-12">
        <nav class="pagination_layout section-padding-top">
          <ul class="pagination justify-content-center">
            <!-- <pagination-controls (pageChange)="page = $event"></pagination-controls> -->
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
