<form (ngSubmit)="onSubmit()" [formGroup]="form" >
  <div class="flex items-center" mat-dialog-title>
    <h2 class="headline m-0 flex-auto">{{isCreateMode ? 'Room Create' : 'Room Update'}}</h2>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>
  <mat-divider class="-mx-6 text-border"></mat-divider>
  <mat-dialog-content class="flex flex-col">
    <div class="flex flex-col sm:flex-row">

      <mat-form-field appearance="outline"  class="sm:mt-6 sm:ml-6 flex-auto">
        <mat-label>Name</mat-label>
        <input [readonly]="isView == 'view'" [ngClass]="isView == 'view' ? 'ban':''" formControlName="name" matInput>
        <mat-error *ngIf="submitted && f.name.hasError('required')">Name is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="sm:mt-6 sm:ml-6 flex-auto">
        <!-- <mat-label>Room Type</mat-label>
        <input formControlName="roomTypeId" matInput>
        <mat-error *ngIf="submitted && f.roomTypeId.hasError('required')">Room Type is required</mat-error>
       -->
        <mat-label>Room Type</mat-label>
        <mtx-select [ngClass]="isView == 'view' ? 'ban':''" [readonly]="isView == 'view'" [items]="listRoomType" bindLabel="typeName" formControlName="roomTypeId" appendTo="body"
                    bindValue="id" notFoundText="Không tìm thấy dữ liệu" [clearable]="false">
        </mtx-select>
      </mat-form-field>

    </div>
    <div class="flex flex-col sm:flex-row">
      <mat-form-field appearance="outline" class="sm:mt-6 sm:ml-6 flex-auto">
        <mat-label>Area</mat-label>
        <input [ngClass]="isView == 'view' ? 'ban':''" [readonly]="isView == 'view'" formControlName="area" matInput>
        <mat-error *ngIf="submitted && f.area.hasError('required')">Area is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="sm:mt-6 sm:ml-6 flex-auto">
        <mat-label>Size</mat-label>
        <input [readonly]="isView == 'view'" [ngClass]="isView == 'view' ? 'ban':''" formControlName="size" matInput>
        <mat-error *ngIf="submitted && f.size.hasError('required')">Size is required</mat-error>
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline" class="sm:mt-6 sm:ml-6 flex-auto" color="primary">
      <mat-label>Description</mat-label>
      <textarea [readonly]="isView == 'view'" [ngClass]="isView == 'view' ? 'ban':''" formControlName="description" matInput></textarea>
      <mat-error *ngIf="submitted && f.description.hasError('required')">Description is required</mat-error>
    </mat-form-field>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Cancel</button>
    <button *ngIf="isView != 'view'"  color="primary" mat-flat-button type="submit">Submit</button>
  </mat-dialog-actions>
</form>
