<div class="tab-inner">
  <ngb-alert
    #successAlert
    [dismissible]="false"
    *ngIf="successAlertClosed"
    (closed)="successAlertClosed = false"
    type="success"
    class="toast-container position-fixed py-2 px-3"
    style="z-index: 100; top: 20px; right: 2%"
    >Booking Success</ngb-alert
  >
  <ngb-alert
    #errorAlert
    [dismissible]="false"
    *ngIf="errorAlertClosed"
    (closed)="errorAlertClosed = false"
    type="danger"
    class="toast-container position-fixed py-2 px-3"
    style="z-index: 100; top: 20px; right: 2%"
    >Booking Error</ngb-alert
  >
  <div class="row">
    <div class="col-lg-12">
      <h5 class="text-custom-black">Your Personal Information</h5>
      <form
        class="row mb-md-80"
        [formGroup]="bookingForm"
        method="POST"
        (ngSubmit)="onSubmit()"
      >
        <div class="col-md-12">
          <div class="form-group">
            <label class="fs-14 text-custom-black fw-500"
              >Customer Name <span style="color: red">*</span></label
            >
            <input
              type="text"
              formControlName="customerName"
              name="customerName"
              class="form-control form-control-custom"
              placeholder="Customer Name"
              [ngClass]="
                customerName.invalid &&
                (customerName.dirty || customerName.touched)
                  ? 'error'
                  : ''
              "
              required
            />
            <ng-container
              *ngIf="
                customerName.invalid &&
                (customerName.dirty || customerName.touched)
              "
              class="d-flex flex-column"
            >
              <ng-container *ngIf="customerName.errors?.['required']">
                <div class="mt-2 ml-1" style="color: red; margin-bottom: -10px">
                  Customer Name is required
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label class="fs-14 text-custom-black fw-500"
              >Email <span style="color: red">*</span></label
            >
            <input
              type="email"
              formControlName="email"
              name="email"
              class="form-control form-control-custom"
              placeholder="Email"
              [ngClass]="
                email.invalid && (email.dirty || email.touched) ? 'error' : ''
              "
              required
            />
            <ng-container
              *ngIf="email.invalid && (email.dirty || email.touched)"
              class="d-flex flex-column"
            >
              <ng-container *ngIf="email.errors?.['required']">
                <div class="mt-2 ml-1" style="color: red; margin-bottom: -10px">
                  Email is required
                </div>
              </ng-container>
              <ng-container *ngIf="email.errors?.['email']">
                <div class="mt-2 ml-1" style="color: red; margin-bottom: -10px">
                  Email is Invalid
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label class="fs-14 text-custom-black fw-500"
              >Phone No. <span style="color: red">*</span></label
            >
            <input
              type="text"
              formControlName="phoneNumber"
              name="phoneNumber"
              class="form-control form-control-custom"
              placeholder="Phone No."
              [ngClass]="
                phoneNumber.invalid &&
                (phoneNumber.dirty || phoneNumber.touched)
                  ? 'error'
                  : ''
              "
              required
            />
            <ng-container
              *ngIf="
                phoneNumber.invalid &&
                (phoneNumber.dirty || phoneNumber.touched)
              "
              class="d-flex flex-column"
            >
              <ng-container *ngIf="phoneNumber.errors?.['required']">
                <div class="mt-2 ml-1" style="color: red; margin-bottom: -10px">
                  Phone number is required
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
        <!-- <div class="col-12">
          <label class="custom-checkbox mb-0">
            <input type="checkbox" name="#" />
            <span class="checkmark"></span>
            I want to receive <a href="#">Company name</a> promotional offers in
            the future
          </label>
        </div> -->
        <div class="col-12">
          <hr />
        </div>
        <div
          class="col-12 d-flex justify-content-between align-items-center mb-3"
        >
          <h5 style="margin: 0" class="text-custom-black">Check available</h5>
          <button class="mr-2 add-room" type="button" (click)="addNewForm()">
            Add New Room
          </button>
        </div>
        <div class="col-12" formArrayName="bookingRequestList">
          <div class="row">
            <ng-container
              *ngFor="let item of bookingRequestList.controls; index as idx"
            >
              <div class="col-12 d-flex justify-content-end">
                <button
                  type="button"
                  class="mr-2 delete-form-group"
                  [ngbPopover]="popContent"
                  placement="bottom"
                >
                  X
                </button>
                <ng-template #popContent>
                  <div class="mb-2">Are you sure delete this?</div>
                  <div style="text-align: right">
                    <button class="popover-button" type="button">Cancel</button>
                    <button
                      class="danger-button"
                      type="button"
                      (click)="deleteFormGroup(idx)"
                      (click)="test(idx)"
                    >
                      OK
                    </button>
                  </div>
                </ng-template>
              </div>
              <ng-container [formGroupName]="idx">
                <div class="col-md-6 mb-3">
                  <label class="fs-14 text-custom-black fw-500"
                    >Check In <span style="color: red">*</span></label
                  >
                  <div class="group-form input-group">
                    <input
                      #checkin="ngbDatepicker"
                      class="checkIn form-control form-control-custom datepickr"
                      formControlName="inputCheckinDate"
                      name="inputCheckinDate"
                      [ngClass]="
                        item.get('inputCheckinDate').invalid &&
                        (item.get('inputCheckinDate').dirty ||
                          item.get('inputCheckinDate').touched)
                          ? 'error'
                          : ''
                      "
                      (ngModelChange)="onChangeAva(idx)"
                      [maxDate]="item.get('inputCheckoutDate').value"
                      ngbDatepicker
                      readonly
                    />

                    <span class="test" (click)="checkin.toggle()">
                      <i class="far fa-calendar mr-1"></i>
                    </span>
                  </div>
                  <ng-container
                    *ngIf="
                      item.get('inputCheckinDate').invalid &&
                      (item.get('inputCheckinDate').dirty ||
                        item.get('inputCheckinDate').touched)
                    "
                    class="d-flex flex-column"
                  >
                    <ng-container
                      *ngIf="item.get('inputCheckinDate').errors?.['required']"
                    >
                      <div
                        class="mt-2 ml-1"
                        style="color: red; margin-bottom: -10px"
                      >
                        Check in is required
                      </div>
                    </ng-container>
                    <ng-container
                      *ngIf="item.get('inputCheckinDate').errors?.['pattern']"
                    >
                      <div
                        class="mt-2 ml-1"
                        style="color: red; margin-bottom: -10px"
                      >
                        Check in format is yyyy-mm-dd
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
                <div class="col-md-6 mb-3">
                  <label class="fs-14 text-custom-black fw-500"
                    >Check out <span style="color: red">*</span></label
                  >
                  <div class="group-form input-group">
                    <input
                      #checkout="ngbDatepicker"
                      class="checkOut form-control form-control-custom datepickr"
                      formControlName="inputCheckoutDate"
                      name="inputCheckoutDate"
                      [ngClass]="
                        item.get('inputCheckoutDate').invalid &&
                        (item.get('inputCheckoutDate').dirty ||
                          item.get('inputCheckoutDate').touched)
                          ? 'error'
                          : ''
                      "
                      [minDate]="item.get('inputCheckinDate').value"
                      (ngModelChange)="onChangeAva(idx)"
                      ngbDatepicker
                      readonly
                    />

                    <span class="test" (click)="checkout.toggle()">
                      <i class="far fa-calendar mr-1"></i>
                    </span>
                  </div>
                  <ng-container
                    *ngIf="
                      item.get('inputCheckoutDate').invalid &&
                      (item.get('inputCheckoutDate').dirty ||
                        item.get('inputCheckoutDate').touched)
                    "
                    class="d-flex flex-column"
                  >
                    <ng-container
                      *ngIf="item.get('inputCheckoutDate').errors?.['required']"
                    >
                      <div
                        class="mt-2 ml-1"
                        style="color: red; margin-bottom: -10px"
                      >
                        Check out is required
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="fs-14 text-custom-black fw-500"
                      >Room Type <span style="color: red">*</span></label
                    >
                    <div class="group-form">
                      <select
                        class="roomType custom-select form-control form-control-custom"
                        formControlName="roomTypeId"
                        name="roomTypeId"
                        nice-select
                        required
                        [ngClass]="
                          item.get('roomTypeId').invalid &&
                          (item.get('roomTypeId').dirty ||
                            item.get('roomTypeId').touched)
                            ? 'error'
                            : ''
                        "
                        (change)="onChangeAva(idx)"
                      >
                        <ng-container
                          *ngFor="let room of roomTypeList; let i = index"
                        >
                          <option
                            [value]="room.id"
                            *ngIf="
                              room.used == false ||
                              (room.used == true && room.formId == idx)
                            "
                          >
                            {{ room.typeName }}
                          </option>
                        </ng-container>
                      </select>
                      <ng-container
                        *ngIf="
                          item.get('roomTypeId').invalid &&
                          (item.get('roomTypeId').dirty ||
                            item.get('roomTypeId').touched)
                        "
                        class="d-flex flex-column"
                      >
                        <ng-container
                          *ngIf="item.get('roomTypeId').errors?.['required']"
                        >
                          <div
                            class="mt-2 ml-1"
                            style="color: red; margin-bottom: -10px"
                          >
                            Room type is required
                          </div>
                        </ng-container>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="fs-14 text-custom-black fw-500"
                      >Quantity <span style="color: red">*</span></label
                    >
                    <input
                      type="number"
                      min="1"
                      [max]="item.get('availableRoom').value"
                      formControlName="amount"
                      name="amount"
                      class="Quantity form-control form-control-custom"
                      placeholder="Quantity"
                      [ngClass]="
                        item.get('amount').invalid &&
                        (item.get('amount').dirty || item.get('amount').touched)
                          ? 'error'
                          : ''
                      "
                      required
                    />
                    <ng-container
                      *ngIf="
                        item.get('amount').invalid &&
                        (item.get('amount').dirty || item.get('amount').touched)
                      "
                      class="d-flex flex-column"
                    >
                      <ng-container
                        *ngIf="item.get('amount').errors?.['required']"
                      >
                        <div
                          class="mt-2 ml-1"
                          style="color: red; margin-bottom: -10px"
                        >
                          Quantity is required
                        </div>
                      </ng-container>
                      <ng-container *ngIf="item.get('amount').errors?.['max']">
                        <div
                          class="mt-2 ml-1"
                          style="color: red; margin-bottom: -10px"
                        >
                          Quantity is capped to maximum
                        </div>
                      </ng-container>
                      <ng-container *ngIf="item.get('amount').errors?.['min']">
                        <div
                          class="mt-2 ml-1"
                          style="color: red; margin-bottom: -10px"
                        >
                          Quantity minimum is 1
                        </div>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
                <div class="col-md-12" *ngIf="item.get('isAvailable').value">
                  <span style="font-size: 20px"
                    >Available Room: {{ item.get("availableRoom").value }}</span
                  >
                </div>
              </ng-container>
              <div class="col-12">
                <hr />
              </div>
            </ng-container>
          </div>
        </div>

        <div class="col-12">
          <div class="mt-3"></div>
          <button
            type="button"
            style="cursor: pointer"
            class="btn-first btn-submit mb-3"
            [disabled]="!bookingForm.valid"
            [ngClass]="!bookingForm.valid ? 'disabled' : ''"
            (click)="openVerticallyCentered(content)"
          >
            Confirm Booking
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Confirm Booking</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<p>Are you sure with the information?</p>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-light" (click)="onSubmit()">Submit</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
	</div>
</ng-template>

<!-- <pre
  >{{ bookingForm.value | json }}
</pre> -->
