<div class="tab-inner">
  <div class="row">
    <div class="col-lg-12">
      <h5 class="text-custom-black">Your Personal Information</h5>
      <form
        class="row mb-md-80"
        [formGroup]="bookingForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="col-md-6">
          <div class="form-group">
            <label class="fs-14 text-custom-black fw-500">First Name</label>
            <input
              type="text"
              formControlName="firstname"
              class="form-control form-control-custom"
              placeholder="First Name"
              required
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="fs-14 text-custom-black fw-500">Last Name</label>
            <input
              type="text"
              formControlName="lastname"
              class="form-control form-control-custom"
              placeholder="Last Name"
              required
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="fs-14 text-custom-black fw-500">Email I'd</label>
            <input
              type="email"
              formControlName="email"
              class="form-control form-control-custom"
              placeholder="Email I'd"
              required
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="fs-14 text-custom-black fw-500"
              >Verify Email I'd</label
            >
            <input
              type="email"
              formControlName="verifyemail"
              class="form-control form-control-custom"
              placeholder="Email I'd"
              required
            />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label class="fs-14 text-custom-black fw-500">Phone No.</label>
            <input
              type="text"
              formControlName="phone"
              class="form-control form-control-custom"
              placeholder="Phone No."
              required
            />
          </div>
        </div>
        <div class="col-12">
          <label class="custom-checkbox mb-0">
            <input type="checkbox" name="#" />
            <span class="checkmark"></span>
            I want to receive <a href="#">Company name</a> promotional offers in
            the future
          </label>
        </div>
        <div class="col-12">
          <hr />
        </div>
        <div class="col-12">
          <h5 class="text-custom-black">Check available</h5>
        </div>
        <div class="col-12">
          <div class="row" formGroupName="cardInfo">
            <div class="col-md-6">
              <label class="fs-14 text-custom-black fw-500">Check in</label>
              <div class="group-form input-group">
                <input
                  class="form-control"
                  placeholder="yyyy-mm-dd"
                  name="dp"
                  ngbDatepicker
                  #d="ngbDatepicker"
                />
                <button
                  class="btn btn-outline-secondary bi bi-calendar3"
                  (click)="d.toggle()"
                  type="button"
                ></button>
              </div>
            </div>
            <div class="col-md-6">
              <label class="fs-14 text-custom-black fw-500">Check out</label>
              <div class="group-form input-group">
                <input
                  class="form-control"
                  placeholder="yyyy-mm-dd"
                  name="dp1"
                  ngbDatepicker
                  #d="ngbDatepicker"
                />
                <button
                  class="btn btn-outline-secondary bi bi-calendar3"
                  (click)="d.toggle()"
                  type="button"
                ></button>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="fs-14 text-custom-black fw-500">Room Type</label>
                <div class="group-form">
                  <select
                    class="custom-select form-control form-control-custom"
                    formControlName="cardtype"
                    nice-select
                  >
                    <option value="Credit Card">Big</option>
                    <option value="Americal Express">Small</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="fs-14 text-custom-black fw-500">Quantity</label>
                <div class="group-form">
                  <select
                    class="custom-select form-control form-control-custom"
                    formControlName="cardtype"
                    nice-select
                  >
                    <option value="Credit Card">1</option>
                    <option value="Americal Express">2</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="mt-4"></div>
          <div class="form-group">
            <label class="custom-checkbox">
              <input type="checkbox" name="#" />
              <span class="checkmark"></span>
              By continuing, you agree to the<a href="#"
                >Terms and Conditions.</a
              >
            </label>
          </div>
          <button
            type="submit"
            style="cursor: pointer"
            class="btn-first btn-submit"
            [disabled]="!bookingForm.valid"
          >
            Confirm Booking
          </button>
        </div>
      </form>
    </div>
    <!-- <div class="col-lg-4">
            <div class="row">
                <div class="col-12">
                    <div class="hotel-grid mb-xl-30" *ngFor="let item of getRecentHotel() | slice:0:1">
                        <div class="hotel-grid-wrapper bx-wrapper">
                            <div class="image-sec p-relative">
                                <a routerLink="/hotel-details/{{item.id}}">
                                    <img [src]="item.image[0]" class="full-width" [alt]="item.title">
                                </a>
                            </div>
                            <div class="hotel-grid-caption padding-20 bg-custom-white p-relative">
                                <h4 class="title fs-16"><a routerLink="/hotel-details/{{item.id}}"
                                        class="text-custom-black">{{item.title}}<small
                                            class="text-light-dark">{{item.location}}</small></a></h4>
                                <span class="price"><small>avg/night</small>${{item.price | number:'1.0-0'}}</span>
                                <div class="feedback">
                                    <div class="ratings">
                                        <ngb-rating [max]="5" [(rate)]="item.rating" [readonly]="true" class="rating">
                                            <ng-template let-fill="fill" let-index="index">
                                                <span class="text-light-white fs-12"
                                                    [class.text-yellow]="fill === 100"><i
                                                        class="fas fa-star"></i></span>
                                            </ng-template>
                                        </ngb-rating>
                                    </div>
                                    <span class="review fs-12 text-light-dark">{{item.reviews.length}} reviews</span>
                                </div>
                                <p class="text-light-dark">Nunc cursus libero purus ac congue arcu cursus ut sed vitae
                                    pulvinar massa idporta nequetiam.</p>
                                <div class="action">
                                    <a routerLink="/hotel-details/{{item.id}}" class="btn-second btn-small">View</a>
                                    <a routerLink="/booking" class="btn-first btn-submit">Book</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="need-help bx-wrapper padding-20">
                        <h5 class="text-custom-black">Need Help?.</h5>
                        <p class="text-light-dark">We would be more than happy to help you. Our team advisor are 24/7 at
                            your service to help you.</p>
                        <ul class="custom">
                            <li class="text-custom-blue fs-18">
                                <i class="fas fa-phone-alt"></i>
                                <a href="#" class="text-light-dark"> (+347) 123 456 7890</a>
                            </li>
                            <li class="text-custom-blue fs-18">
                                <i class="fas fa-envelope"></i>
                                <a href="#" class="text-light-dark fs-14"> example@example.com</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div> -->
  </div>
</div>
