<section
  class="section-padding bg-light-white listing-details"
>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div
          class="listing-details-inner bx-wrapper bg-custom-white padding-20"
        >
          <div class="row">
            <div class="col-lg-12">
              <ngx-slick-carousel
                [config]="settings"
                class="detail-slider-for mb-xl-20 magnific-gallery"
              >
                <!-- Data -->
                <div
                  ngxSlickItem
                  class="slide-item"
                  *ngFor="let image of roomTypeDetail.imgResponseList"
                >
                  <a href="data:image/jpeg;base64,{{image.imgEncodeString}}" class="popup">
                    <img src="data:image/jpeg;base64,{{image.imgEncodeString}}" class="image-fit" alt="" />
                  </a>
                </div>
                <!-- Data -->
              </ngx-slick-carousel>
              <ngx-slick-carousel
                [config]="settingsThumb"
                class="detail-slider-nav row"
              >
                <!-- Data -->
                <div
                  ngxSlickItem
                  class="slide-item col-12"
                  *ngFor="let image of roomTypeDetail.imgResponseList"
                >
                  <img src="data:image/jpeg;base64,{{image.imgEncodeString}}" class="image-fit" alt="" />
                </div>
                <!-- Data -->
              </ngx-slick-carousel>
              <hr />
              <div class="listing-meta-sec mb-md-80">
                <div class="tabs">
                  <ul
                    ngbNav
                    #nav="ngbNav"
                    class="custom-flex nav nav-tabs mb-xl-20"
                  >
                    <li [ngbNavItem]="1">
                      <a ngbNavLink>Overview</a>
                      <ng-template ngbNavContent>
                        <div class="tab-inner">
                          <div class="row">
                            <div class="col-12">
                              <div class="information">
                                <h4 class="text-custom-black">
                                  About {{ roomTypeDetail.typeName }}
                                </h4>
                                <div
                                  class="htmltext"
                                  [innerHtml]=""
                                ></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </li>
                  </ul>
                  <div [ngbNavOutlet]="nav"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
