<body>

  <div class="container">
    <h2 class="login-title" style="color: #01b7f2; font-size: 25px;">Sign Up</h2>

    <form class="login-form" [formGroup]="formValidation" method="POST">
      <div>
        <label for="username">Username </label>
        <input
          id="username"
          type="text"
          placeholder="Username"
          name="username"
          formControlName="username"
          [ngClass]="
            username.invalid && (username.dirty || username.touched)
              ? 'error'
              : ''
          "
          required
        />
        <ng-container
          *ngIf="username.invalid && (username.dirty || username.touched)"
          class="d-flex flex-column"
        >
          <ng-container *ngIf="username.errors?.['required']">
            <div class="mt-2" style="color: red; margin-bottom: -10px">
              Username is required
            </div>
          </ng-container>
          <ng-container *ngIf="username.errors?.['minlength'] || username.errors?.['maxlength']">
            <div class="mt-2" style="color: red; margin-bottom: -10px">
              Username length between 3 and 20
            </div>
          </ng-container>
        </ng-container>
      </div>

      <div class="mt-2">
        <label for="email">Email </label>
        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="Email@example.com"
          name="email"
          [ngClass]="
            email.invalid && (email.dirty || email.touched)
              ? 'error'
              : ''
          "
          required
        />
        <ng-container
          *ngIf="email.invalid && (email.dirty || email.touched)"
        >
          <ng-container *ngIf="email.errors?.['required']">
            <div class="mt-2" style="color: red; margin-bottom: -10px">
              Email is required
            </div>
          </ng-container>
          <ng-container *ngIf="email.errors?.['email']">
            <div class="mt-2" style="color: red; margin-bottom: -10px">
              Email format is invalid
            </div>
          </ng-container>
          <ng-container *ngIf="email.errors?.['maxlength']">
            <div class="mt-2" style="color: red; margin-bottom: -10px">
              Email max length is 50
            </div>
          </ng-container>
        </ng-container>
      </div>

      <div class="mt-2">
        <label for="password">Password </label>
        <input
          id="password"
          type="password"
          formControlName="password"
          placeholder="Password"
          name="password"
          [ngClass]="
            password.invalid && (password.dirty || password.touched)
              ? 'error'
              : ''
          "
          required
        />
        <ng-container
          *ngIf="password.invalid && (password.dirty || password.touched)"
        >
          <ng-container *ngIf="password.errors?.['required']">
            <div class="mt-2" style="color: red; margin-bottom: -10px">
              Password is required
            </div>
          </ng-container>
          <ng-container *ngIf="password.errors?.['minlength'] || password.errors?.['maxlength']">
            <div class="mt-2" style="color: red; margin-bottom: -10px">
              Password length between 6 and 40
            </div>
          </ng-container>
        </ng-container>
      </div>

      <button
        class="btn btn--form mt-2"
        type="submit"
        value="Sign Up"
        (click)="register()"
      >
        Sign Up
      </button>

      <div class="d-flex justify-content-center mt-3">
        <span style="font-size: 16px"
          >Already have an account?
          <a href="login" style="color: #01b7f2; cursor: pointer"
            >Log In</a
          ></span
        >
      </div>
    </form>
  </div>
</body>
