<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="flex items-center" mat-dialog-title>
    <h2 class="headline m-0 flex-auto">{{isCreateMode ? 'Blog Create' : 'Blog Update'}}</h2>
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>
  <mat-dialog-content class="flex flex-col">
    <div class="flex flex-col sm:flex-row">
      <mat-form-field appearance="outline" class="sm:mt-6 sm:ml-6 flex-auto">
        <mat-label>Title</mat-label>
        <input [readonly]="isView == 'view'" [ngClass]="isView == 'view' ? 'ban':''" formControlName="title" matInput>
        <mat-error *ngIf="submitted && f.title.hasError('required')">Title is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="sm:mt-6 sm:ml-6 flex-auto">
        <mat-label>Author </mat-label>
        <input [readonly]="isView == 'view'" [ngClass]="isView == 'view' ? 'ban':''" formControlName="author" matInput>
        <mat-error *ngIf="submitted && f.author.hasError('required')">Author is required</mat-error>
      </mat-form-field>
    </div>
    <div class="flex flex-col sm:flex-row">
      <mat-form-field appearance="outline" class="sm:mt-6 sm:ml-6 flex-auto">
        <mat-label>Short decription </mat-label>
        <textarea [readonly]="isView == 'view'" [ngClass]="isView == 'view' ? 'ban':''" formControlName="shortDescription"
          matInput></textarea>
        <mat-error *ngIf="submitted && f.shortDescription.hasError('required')">Short description is required</mat-error>
      </mat-form-field>
    </div>
    <mat-label>Description</mat-label>
    <div class="flex flex-col sm:flex-row">

      <quill-editor [styles]="{flex: '1 1 auto'}" formControlName="description" ></quill-editor>
      <mat-error *ngIf="submitted && f.description.hasError('required')">Description is required</mat-error>
    </div>

    <div class="flex flex-col sm:flex-row" style="max-width: 600px; margin-top:25px">
      <div class="mt-3 ml-5 flex-auto">
        <input
          *ngIf="isView != 'view'"
          type="file"
          class="file-upload"
          (change)="uploadFile($event.target)"
        />
        <div
          formArrayName="imgCodeList"
          class="mt-3"
          style="display: flex; gap: 10px; flex-wrap: wrap"
        >
          <div
            style="position: relative"
            *ngFor="let item of imgResponse.value; let idx = index"
          >
            <img
              *ngIf="item.imgEncodeString != null"
              src="data:image/jpeg;base64,{{ item.imgEncodeString }}"
              alt=""
              width="190px"
              height="190px"
            />
            <!-- <button
              style="
                position: absolute;
                top: 3px;
                right: 5px;
                color: black;
                z-index: 1000;
                cursor: pointer;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                border: 1px solid black;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;
              "
              *ngIf="isView != 'view' && item.imgEncodeString != null"
              (click)="deleteImg(idx)"
              ><mat-icon svgIcon="mat:delete"></mat-icon></button
            > -->
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Cancel</button>
    <button *ngIf="isView != 'view'" color="primary" mat-flat-button type="submit">Submit</button>
  </mat-dialog-actions>
</form>
