@use '@angular/material' as mat;
@use '@ng-matero/extensions' as mtx;
$my-primary: mat.define-palette(mat.$cyan-palette);
$my-accent: mat.define-palette(mat.$pink-palette);
$my-warn: mat.define-palette(mat.$red-palette);
$my-theme: mat.define-light-theme((color: (primary: $my-primary,
        accent: $my-accent,
        warn: $my-warn,
      ),
      typography: mat.define-typography-config(),
      density: 0,
    ));
@include mtx.all-component-themes($my-theme);
/*
  You can override any CSS Variable or style here
  Example:

  :root {
   --sidenav-background: #333333;
  }

  All possible variables can be found in @vex/styles/core or by simply inspecting the element you want to change
  in Chrome/Firefox DevTools
*/

/**
  Uncomment the below code and adjust the values to fit your colors, the application will automatically adjust
 */
 @import "~simplebar/dist/simplebar.css";
@import "~highlight.js/styles/androidstudio.css";
// Vex Core
@import "./@vex/styles/core";
:root {
  .style-success {
    color: white;
    background-color: #4CAF50;
  }

  .style-success .mat-simple-snackbar-action {
    color: white;
  }

  .style-error {
    color: white;
    background-color: rgba(var(--color-warn), 1);
  }

  .style-error .mat-simple-snackbar-action {
    color: white;
  }

  .style-warning {
    color: white;
    background-color: #ff8400;
  }

  .style-warning .mat-simple-snackbar-action {
    color: white;
  }
  // --color-primary: blue;
  // --color-primary-contrast: white;

  // --color-accent: yellow;
  // --color-accent-contrast: black;

  // --color-warn: yellow;
  // --color-warn-contrast: black;
}
