<div class="why-choose-box mb-md-80">
    <div class="section-header">
        <div class="section-heading">
            <h3 class="text-custom-black">Why Choose Us</h3>
            <div class="section-description">
            <p class="text-light-dark">Why choose us? We investigated among our guests feedback to find out what they most appreciated during their journey and here we are with almost 5 good reasons to come to visit us at Toor Hotel.</p>
            </div>
        </div>
    </div>
    <div class="why-choose-wrapper">
        <div class="why-choose-img p-relative">
            <div class="row clearfix">
                <!-- Data -->
                <div class="col-6" *ngFor="let item of whyus">
                    <div class="choose-item animate-img">
                    <img [src]="item.image" [alt]="item.title" class="full-width">
                        <div class="text-wrapper">
                            <h6 class="text-custom-white">{{item.title}}</h6>
                        </div>
                    </div>
                </div>
                <!-- Data -->
            </div>
        </div>
    </div>
</div>
