<div class="card">
  <div class="border-b py-2 px-6 flex items-center flex-col">
    <h2 class="m-0 title flex-auto mt-4 mb-2">Top Room Type</h2>
    <div class="flex items-start mt-3">
      <mat-form-field>
        <mat-label>Year</mat-label>
        <input matInput [matDatepicker]="dp" placeholder="Year" [formControl]="date" readonly>
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp
                        startView="multi-year"
                        (yearSelected)="chosenYearHandler($event, dp)"
                        panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>

      <mat-form-field class="ml-2" appearance="fill">
        <mat-label>Month</mat-label>
        <mat-select value="{{monthValue}}" (selectionChange)="Filter($event)">
          <mat-option *ngFor="let item of months, let idx = index" value="{{item}}">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <button (click)="Filter()" mat-raised-button color="primary" class="ml-2 mt-3">Filter</button> -->
    </div>

  </div>

  <div class="pt-3 pb-1 pr-6">
    <vex-chart [options]="options" [series]="series"></vex-chart>
  </div>
</div>
